<div id="app">
  <form ref="measureForm" @submit.prevent="onSubmit">
    <label for="name">Name</label>: <input type="text" v-model="name" name="name" id="name" placeholder="name" required></p>
    <label for="timestamp">TimeStamp</label>: <input type="datetime-local" v-model="timestamp" name="timestamp" id="timestamp" required></p>
    <label for="value">Value</label>: <input type="number" v-model="value" name="value" id="value" required></p>
    <button @click="saveMeasure" >Save measure</button>
  </form>
</div>
